include ../../sys/pug/vars

footer.footer
	.case
		.footer__wrap
			.footer__top.row
				.footer__feedback
					.footer__socials.socials
						ul
							li
								a(href="" target="_blank")
									<svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M28.2786 13.9468C28.2786 6.24402 22.0727 0 14.4184 0C6.7606 0.00173253 0.554688 6.24402 0.554688 13.9486C0.554688 20.9081 5.62406 26.6774 12.2492 27.7239V17.9784H8.73221V13.9486H12.2527V10.8733C12.2527 7.37883 14.3231 5.44879 17.4884 5.44879C19.0061 5.44879 20.5914 5.7208 20.5914 5.7208V9.1512H18.8432C17.1228 9.1512 16.5858 10.2271 16.5858 11.3307V13.9468H20.4285L19.8152 17.9767H16.584V27.7221C23.2092 26.6757 28.2786 20.9064 28.2786 13.9468Z" fill="#ABAAA7"/></svg>
							li
								a(href="" target="_blank")
									<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14.1386" cy="14.7226" r="14.1386" fill="#ABAAA7"/><path d="M21.4739 11.7627C21.4739 11.7627 21.3242 10.7092 20.8751 10.2577C20.3262 9.65574 19.6775 9.65574 19.3781 9.60557C17.2822 9.45508 14.1385 9.45508 14.1385 9.45508C14.1385 9.45508 10.9947 9.45508 8.89886 9.60557C8.59946 9.65574 7.95075 9.65574 7.40184 10.2577C6.95273 10.7092 6.80302 11.7627 6.80302 11.7627C6.80302 11.7627 6.65332 12.9666 6.65332 14.1706V15.2742C6.65332 16.4782 6.80302 17.7323 6.80302 17.7323C6.80302 17.7323 6.95273 18.7858 7.40184 19.2373C7.95075 19.8392 8.69926 19.8392 9.04857 19.8894C10.2462 19.9396 14.1385 19.9897 14.1385 19.9897C14.1385 19.9897 17.2822 19.9897 19.3781 19.8392C19.6775 19.7891 20.3262 19.7891 20.8751 19.1871C21.3242 18.7356 21.4739 17.6821 21.4739 17.6821C21.4739 17.6821 21.6236 16.4782 21.6236 15.2742V14.1706C21.6236 12.9666 21.4739 11.7627 21.4739 11.7627ZM12.5915 16.6788V12.465L16.6335 14.5719L12.5915 16.6788Z" fill="#4F4F4F"/></svg>
							li
								a(href="" target="_blank")
									<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14.1386" cy="14.8613" r="14.1386" fill="#ABAAA7"/><path d="M14.4143 12.5505C13.2944 12.5505 12.3804 13.4644 12.3804 14.5844C12.3804 15.7043 13.2944 16.6182 14.4143 16.6182C15.5342 16.6182 16.4481 15.7043 16.4481 14.5844C16.4481 13.4644 15.5342 12.5505 14.4143 12.5505ZM20.5142 14.5844C20.5142 13.7421 20.5219 12.9075 20.4746 12.0668C20.4273 11.0903 20.2045 10.2237 19.4905 9.50961C18.7749 8.79401 17.9098 8.57278 16.9333 8.52548C16.0911 8.47818 15.2565 8.48581 14.4158 8.48581C13.5736 8.48581 12.739 8.47818 11.8983 8.52548C10.9218 8.57278 10.0552 8.79554 9.34113 9.50961C8.62555 10.2252 8.40432 11.0903 8.35702 12.0668C8.30972 12.9091 8.31735 13.7437 8.31735 14.5844C8.31735 15.4251 8.30972 16.2612 8.35702 17.1019C8.40432 18.0784 8.62708 18.9451 9.34113 19.6591C10.0567 20.3747 10.9218 20.5959 11.8983 20.6432C12.7405 20.6905 13.5751 20.6829 14.4158 20.6829C15.258 20.6829 16.0926 20.6905 16.9333 20.6432C17.9098 20.5959 18.7764 20.3732 19.4905 19.6591C20.206 18.9435 20.4273 18.0784 20.4746 17.1019C20.5234 16.2612 20.5142 15.4266 20.5142 14.5844ZM14.4143 17.7137C12.6825 17.7137 11.2849 16.3161 11.2849 14.5844C11.2849 12.8526 12.6825 11.455 14.4143 11.455C16.146 11.455 17.5436 12.8526 17.5436 14.5844C17.5436 16.3161 16.146 17.7137 14.4143 17.7137ZM17.6718 12.0577C17.2674 12.0577 16.9409 11.7311 16.9409 11.3268C16.9409 10.9225 17.2674 10.596 17.6718 10.596C18.0761 10.596 18.4026 10.9225 18.4026 11.3268C18.4027 11.4228 18.3839 11.5179 18.3472 11.6066C18.3105 11.6954 18.2567 11.776 18.1888 11.8439C18.1209 11.9118 18.0403 11.9656 17.9516 12.0023C17.8629 12.039 17.7678 12.0578 17.6718 12.0577Z" fill="#4F4F4F"/></svg>

							li
								a(href="" target="_blank")
									<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14.1386" cy="14.1386" r="14.1386" fill="#ABAAA7"/><path d="M19.19 9.06575L8.56033 13.1387C7.83489 13.4282 7.83909 13.8303 8.42723 14.0096L11.1563 14.8555L17.4706 10.897C17.7691 10.7165 18.0419 10.8136 17.8177 11.0114L12.7019 15.599H12.7007L12.7019 15.5996L12.5136 18.3947C12.7894 18.3947 12.9111 18.269 13.0658 18.1207L14.3914 16.8399L17.1486 18.8635C17.657 19.1417 18.0221 18.9988 18.1486 18.3959L19.9586 9.92001C20.1439 9.18192 19.675 8.84772 19.19 9.06575Z" fill="#4F4F4F"/></svg>
					a.footer__btn.btn.--sm.--b-white(href="javascript:;") Записаться
				.footer__inner
					.footer__nav
						ul
							li
								a(href="") О нас
							li
								a(href="") Солярий клуб
							li
								a(href="") Услуги и цены
							li
								a(href="") Акции
							li
								a(href="") Галерея
							li
								a(href="") Адреса
							li
								a(href="") Лицензии
							li
								a(href="") Франчайзинг
							li
								a(href="") Блог

					.footer__contacts
						.footer__contact.contact
							.contact__name SUN&CITY Пресненский вал
							.contact__text 
								p #[strong #[a(href="tel:+74992538787") +7 (499) 253-87-87]]
								p #[strong #[a(href="tel:+79256652432") +7 (925) 665-24-32]]
								p Пресненский Вал, 6 стр. 2
								p Солярий: 10:00 — 00:00
								p Салон: 10:00 — 22:00
						.footer__contact.contact
							.contact__name SUN&CITY Фрунзенская
							.contact__text
								p #[strong #[a(href="tel:+74992428307") +7 (499) 242-83-07]]
								p #[strong #[a(href="tel:+79257555969") +7 (925) 755-59-69]]
								p ул. Фрунзенская 1-я, 8
								p Солярий: 10:00 — 23:00
								p Салон: 10:00 — 22:00
						.footer__contact.contact
							.contact__name SUN&CITY Афимолл
							.contact__text
								p #[strong #[a(href="tel:+79269358787") +7 (926) 935-87-87]]
								p ТРЦ Афимолл Сити
								p Пресненская набережная, 2 #[br]1 этаж, пав. А16
								p Пн. — Чт., Вс.: 10:00 — 22:00
								p Пт., Сб.: 10:00 — 23:00
						.footer__contact.contact
							.contact__name SUN&CITY Косыгина
							.contact__text
								p #[strong #[a(href="tel:+74991376918") +7 (499) 137-69-18]]
								p #[strong #[a(href="tel:+79257130551") +7 (925) 713-05-51]]
								p Косыгина, 5
								p Солярий: 10:00 — 22:00
								p Салон: 10:00 — 22:00
			.footer__bottom
				.footer__copy SUN&CITY - салон красоты в Москве. Все права защищены 2021 г.
		

.modals
