.order(class=orderClass)
	.case
		.order__inner
			.order__city
			.order__logo
				img(src="_/uploads/logo-black.png" alt="")
			a.order__btn.btn.--md.--bg-pink(href="javascript:;" target="_blank") Записаться
		.order__img
			img(src="_/uploads/order-bg.jpg" alt="")