extends ../../templates/default
block vars
	-
		title = ""
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
		header = false
block content
	.land
		.land__intro
		.land__info
			.case
				.land__info-item
					.land__info-desc
						.land__info-title Польза загара в солярии
						.land__info-text
							ul
								li Восполнение витамина D
								li Улучшение качества кожи, лечение акне и высыпаний
								li Укрепление имунной системы
								li Повышение уровня серотонина (гормона счастья), который помогает в борьбе с сезонной депрессией
								li Улучшение качества сна
								li Увлажнение кожи благодаря коллагеновым лампам в гибридных соляриях
					a.land__info-media.video(data-src="https://www.youtube.com/watch?v=5qap5aO4i9A&ab_channel=LofiGirl" data-fancybox="" ) 
						.video__img
							img(src="_/uploads/video.jpg" alt="")
						.video__play
							<svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.6848 6.57166L1.97076 0.230483C1.8457 0.156468 1.70315 0.116717 1.55762 0.115275C1.41209 0.113833 1.26877 0.150751 1.14225 0.222273C1.01573 0.293794 0.910523 0.397366 0.837334 0.52245C0.764146 0.647533 0.725588 0.789663 0.725586 0.934376V13.3631C0.725756 13.5065 0.763764 13.6473 0.835813 13.7716C0.907863 13.8958 1.01143 13.9991 1.13618 14.0711C1.26093 14.1431 1.40249 14.1813 1.54672 14.1818C1.69095 14.1824 1.83281 14.1453 1.95813 14.0743L12.6721 7.98689C12.7971 7.91585 12.9012 7.81347 12.974 7.68995C13.0468 7.56644 13.0858 7.4261 13.0871 7.28292C13.0884 7.13975 13.0519 6.99875 12.9813 6.87397C12.9107 6.74919 12.8085 6.64489 12.6848 6.57166ZM1.82402 12.8926V1.41467L11.7183 7.27074L1.82402 12.8926Z" fill="#F2F2F2"/></svg>
				
				
				.land__info-item
					.land__info-media.--img-1
						img(src="_/uploads/land-item-1.jpg" alt="")
					.land__info-desc
						.land__info-title Почему нас выбирают уже 20 лет
						.land__info-text
							ul
								li 18 соляриев с безупречными техническими характеристиками
								li 1 СЕАНС В НАШИХ СОЛЯРИЯХ РАВЕН 3 СЕАНСАМ В ОБЫЧНЫХ
								li 10 разных моделей на любой вкус
								li Запись заранее не требуется
								li Все солярии и лампы закупаются только в Германии
								li Замена ламп происходит до срока, установленного производителем
								li Для дезинфекции используется средство, одобренное Роспотребнадзором
								li Все, что может потребоваться для загара в солярии - предоставляется бесплатно
					
				.land__info-item
					.land__info-desc
						.land__info-title Как подготовиться к загару в солярии
						.land__info-text
							p Особой подготовки эта процедура не требует, ведь загар в солярии ничем не отличается от загара на солнце. Все, что Вам может потребоваться (одноразовая шапочка и полотенце, специальные очки для загара, средство для снятия макияжа) предоставляется нашим гостям бесплатно. Для получения красивого и ровного загара обычно достаточно 2-3 посещения по 6-8 минут.  Процесс пигментации продолжается 48 часов, поэтому солярий можно посещать через день
					.land__info-media.--img-2
						img(src="_/uploads/land-item-2.jpg" alt="")
		
		.land__gift
			img(src="_/uploads/banner.jpg" alt="")
			
