extends ../../templates/default
block vars
	-
		title = "Лицензии"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.page-head
		.case
			.page__wrap
				+breadcrumbs
				.page-head__title.h1 Лицензии
				.page-head__logo
					img(src="_/uploads/logo-black.png " alt="")
	.lic
		.case
			.lic__list.row
				a.lic__item(href="_/uploads/lic-1.png" data-fancybox="")
					img(src="_/uploads/lic-1.png" alt="")
				a.lic__item(href="_/uploads/lic-1.png" data-fancybox="")
					img(src="_/uploads/lic-1.png" alt="")

			.lic__desc-1
				p #[strong SUN&CITY – это сеть лабораторий красоты с медецинской лицензией]
				p А это значит, что наши студии прошли все виды контроля на официальном уровне:
			.lic__blocks.row
				.lic__block Специалисты – это врачи-косметологи с профильным медицинским образованием и опытом работы по специальности не менее 5 лет
				.lic__block Помещения соответствуют всем требованиям СЭС
				.lic__block Специализированное оборудование является сертифицированным и имеет Регистрационное Удостоверение РФ
			.lic__desc-2
				p #[strong SUN&CITY предлагает вам лучшее оборудование, высокопрофессиональных бьютимастеров и обслуживание на уровне премиум-класса]

			.lic__text.l-text
				.l-text__item
					.l-text__text Мы несём полную ответственность за жизнь и здоровье наших клиентов во время процедур, а медицинская лицензия является прямым доказательством гарантии вашей безопасности и уверенности в нашем профессионализме и надёжности.
					.l-text__icon
						img(src="_/uploads/plus.svg" alt="")
				.l-text__item
					.l-text__text Специалисты студий регулярно проходят обучение и курсы повышения квалификации в России и заграницей, ведь нам действительно важно повышать уровень профессионализма нашей команды, приобретать новые навыки и работать согласно последним тенденциям бьюти индустрии
					.l-text__icon
						img(src="_/uploads/atom.svg" alt="")
				.l-text__item
					.l-text__text Мы тщательно следим за исправностью нашего оборудования и своевременно производим его полную замену или замену некоторых деталей. Кроме того, наши специалисты старательно заботятся о стерильности оборудования и инструментов. Для дезинфекции оборудования и соляриев мы используем средство, одобренное Роспотребнадзором (это средство также используют в роддомах), а инструменты проходят стерилизацию в крафт-пакетах в сухожаровом шкафу.  Специалисты по клинингу постоянно следят за порядком, обеспечивая безупречную чистоту помещения
					.l-text__icon
						img(src="_/uploads/trash.svg" alt="")
				.l-text__item
					.l-text__text Мы сотрудничаем только с проверенными фирмами косметологической продукции. Все процедуры проходят с использованием профессиональных уходовых средств премиум класса. В кабинете косметолога распаковка препаратов для той или иной процедуры происходит только в присутствии клиента, чтобы он мог убедиться в его подлинности и увидеть срок годности. Распаковка одноразовых инструментов и вскрытие крафт-пакетов для процедуры также происходит только в присутствии клиента
					.l-text__icon
						img(src="_/uploads/diamond.svg" alt="")
				.l-text__item
					.l-text__text Сеть лабораторий SUN&CITY дорожит своей респектабельностью и доверием клиентов, а поэтому мы с уверенностью можем сказать, что уделяем очень много внимания качеству обслуживания, включая все его факторы
					.l-text__icon
						img(src="_/uploads/medal-flat.svg" alt="")



