extends ../../templates/default
block vars
	-
		title = "Блог"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.page-head
		.case
			.page__wrap
				+breadcrumbs
				.page-head__title.h1 Блог
				.page-head__logo
					img(src="_/uploads/logo-black.png " alt="")

	.blog
		.case
			.blog__filter.filter
				.filter__title Выберите рубрику
				.filter__list.row
					a.filter__item.--current(href="") Аппаратные методики
					a.filter__item(href="") Солярий
					a.filter__item(href="") Иньекционная косметология
					a.filter__item(href="") Коррекция фигуры
					a.filter__item(href="") Уходы за волосами
					a.filter__item(href="") Лазерная эпиляция
					a.filter__item(href="") Обертывание
					a.filter__item(href="") Массаж
					a.filter__item(href="") Комбинированная чистка лица
			.blog__sort.sort.row
				.sort__title Сортировать по:
				.sort__list.row
					.sort__item.--up 
						.sort__value дате
						.sort__icon <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.5 9L10.2631 0H0.73686L5.5 9Z" fill="#333333"/></svg>
					.sort__item 
						.sort__value просмотрам
						.sort__icon <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.5 9L10.2631 0H0.73686L5.5 9Z" fill="#333333"/></svg>
			.blog__list.row
				.blog__item
					.blog__img
						img(src="_/uploads/blog-1.jpg" alt="")
					.blog__inner
						.blog__name Микротоки
						.blog__text В этой статье мы поговорим об эффективной методике оздоровления и омоложения кожи лица – микротоковой терапии. Воздействие токами низкой частоты 600-1000 мкА оказывает положительный эффект на кожу. Читаем, какой эффект, показания и противопоказания к процедуре.
						.blog__data.row
							.blog__date
								<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.5 0C9.48912 0 11.3968 0.790176 12.8033 2.1967C14.2098 3.60322 15 5.51088 15 7.5C15 9.48912 14.2098 11.3968 12.8033 12.8033C11.3968 14.2098 9.48912 15 7.5 15C5.51088 15 3.60322 14.2098 2.1967 12.8033C0.790176 11.3968 0 9.48912 0 7.5C0 5.51088 0.790176 3.60322 2.1967 2.1967C3.60322 0.790176 5.51088 0 7.5 0ZM7.5 0.789474C5.72026 0.789474 4.01341 1.49647 2.75494 2.75494C1.49647 4.01341 0.789474 5.72026 0.789474 7.5C0.789474 9.27974 1.49647 10.9866 2.75494 12.2451C4.01341 13.5035 5.72026 14.2105 7.5 14.2105C9.27974 14.2105 10.9866 13.5035 12.2451 12.2451C13.5035 10.9866 14.2105 9.27974 14.2105 7.5C14.2105 5.72026 13.5035 4.01341 12.2451 2.75494C10.9866 1.49647 9.27974 0.789474 7.5 0.789474ZM7.10526 3.15789H7.89474V7.43921L11.6021 9.57947L11.2074 10.2632L7.10526 7.89474V3.15789Z" fill="black"/></svg>
								span 16 Марта
							.blog__view
								<svg width="21" height="13" viewBox="0 0 21 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.36 12C14.349 12 17.818 9.776 19.595 6.5C18.6942 4.8361 17.3604 3.44658 15.7348 2.47842C14.1092 1.51026 12.2521 0.999442 10.36 1C8.46791 0.999442 6.61083 1.51026 4.9852 2.47842C3.35956 3.44658 2.02581 4.8361 1.125 6.5C2.02581 8.1639 3.35956 9.55342 4.9852 10.5216C6.61083 11.4897 8.46791 12.0006 10.36 12ZM10.36 6.42059e-07C12.5234 -0.000722144 14.6431 0.608816 16.4757 1.7586C18.3083 2.90838 19.7794 4.55177 20.72 6.5C19.7794 8.44823 18.3083 10.0916 16.4757 11.2414C14.6431 12.3912 12.5234 13.0007 10.36 13C8.19659 13.0007 6.07685 12.3912 4.24428 11.2414C2.4117 10.0916 0.940613 8.44823 0 6.5C0.940613 4.55177 2.4117 2.90838 4.24428 1.7586C6.07685 0.608816 8.19659 -0.000722144 10.36 6.42059e-07ZM10.36 2C11.5535 2 12.6981 2.47411 13.542 3.31802C14.3859 4.16193 14.86 5.30653 14.86 6.5C14.86 7.69347 14.3859 8.83807 13.542 9.68198C12.6981 10.5259 11.5535 11 10.36 11C9.16653 11 8.02193 10.5259 7.17802 9.68198C6.33411 8.83807 5.86 7.69347 5.86 6.5C5.86 5.30653 6.33411 4.16193 7.17802 3.31802C8.02193 2.47411 9.16653 2 10.36 2ZM10.36 3C9.43174 3 8.5415 3.36875 7.88513 4.02513C7.22875 4.6815 6.86 5.57174 6.86 6.5C6.86 7.42826 7.22875 8.3185 7.88513 8.97487C8.5415 9.63125 9.43174 10 10.36 10C11.2883 10 12.1785 9.63125 12.8349 8.97487C13.4913 8.3185 13.86 7.42826 13.86 6.5C13.86 5.57174 13.4913 4.6815 12.8349 4.02513C12.1785 3.36875 11.2883 3 10.36 3Z" fill="black"/></svg>
								span 207
				.blog__item
					.blog__img
						img(src="_/uploads/blog-2.jpg" alt="")
					.blog__inner
						.blog__name Лазерное омоложение Deka Dot
						.blog__text Лазерное омоложение Deka DOT - инновационная технология фракционного лазерного омоложения. Это уникальная разработка итальянской компании DEKA – мирового лидера в производстве лазерного оборудования для эстетической медицины. На сегодняшний день это одна из лучших методик омоложения, признанная во всем мире.
						.blog__data.row
							.blog__date
								<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.5 0C9.48912 0 11.3968 0.790176 12.8033 2.1967C14.2098 3.60322 15 5.51088 15 7.5C15 9.48912 14.2098 11.3968 12.8033 12.8033C11.3968 14.2098 9.48912 15 7.5 15C5.51088 15 3.60322 14.2098 2.1967 12.8033C0.790176 11.3968 0 9.48912 0 7.5C0 5.51088 0.790176 3.60322 2.1967 2.1967C3.60322 0.790176 5.51088 0 7.5 0ZM7.5 0.789474C5.72026 0.789474 4.01341 1.49647 2.75494 2.75494C1.49647 4.01341 0.789474 5.72026 0.789474 7.5C0.789474 9.27974 1.49647 10.9866 2.75494 12.2451C4.01341 13.5035 5.72026 14.2105 7.5 14.2105C9.27974 14.2105 10.9866 13.5035 12.2451 12.2451C13.5035 10.9866 14.2105 9.27974 14.2105 7.5C14.2105 5.72026 13.5035 4.01341 12.2451 2.75494C10.9866 1.49647 9.27974 0.789474 7.5 0.789474ZM7.10526 3.15789H7.89474V7.43921L11.6021 9.57947L11.2074 10.2632L7.10526 7.89474V3.15789Z" fill="black"/></svg>
								span 16 Марта
							.blog__view
								<svg width="21" height="13" viewBox="0 0 21 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.36 12C14.349 12 17.818 9.776 19.595 6.5C18.6942 4.8361 17.3604 3.44658 15.7348 2.47842C14.1092 1.51026 12.2521 0.999442 10.36 1C8.46791 0.999442 6.61083 1.51026 4.9852 2.47842C3.35956 3.44658 2.02581 4.8361 1.125 6.5C2.02581 8.1639 3.35956 9.55342 4.9852 10.5216C6.61083 11.4897 8.46791 12.0006 10.36 12ZM10.36 6.42059e-07C12.5234 -0.000722144 14.6431 0.608816 16.4757 1.7586C18.3083 2.90838 19.7794 4.55177 20.72 6.5C19.7794 8.44823 18.3083 10.0916 16.4757 11.2414C14.6431 12.3912 12.5234 13.0007 10.36 13C8.19659 13.0007 6.07685 12.3912 4.24428 11.2414C2.4117 10.0916 0.940613 8.44823 0 6.5C0.940613 4.55177 2.4117 2.90838 4.24428 1.7586C6.07685 0.608816 8.19659 -0.000722144 10.36 6.42059e-07ZM10.36 2C11.5535 2 12.6981 2.47411 13.542 3.31802C14.3859 4.16193 14.86 5.30653 14.86 6.5C14.86 7.69347 14.3859 8.83807 13.542 9.68198C12.6981 10.5259 11.5535 11 10.36 11C9.16653 11 8.02193 10.5259 7.17802 9.68198C6.33411 8.83807 5.86 7.69347 5.86 6.5C5.86 5.30653 6.33411 4.16193 7.17802 3.31802C8.02193 2.47411 9.16653 2 10.36 2ZM10.36 3C9.43174 3 8.5415 3.36875 7.88513 4.02513C7.22875 4.6815 6.86 5.57174 6.86 6.5C6.86 7.42826 7.22875 8.3185 7.88513 8.97487C8.5415 9.63125 9.43174 10 10.36 10C11.2883 10 12.1785 9.63125 12.8349 8.97487C13.4913 8.3185 13.86 7.42826 13.86 6.5C13.86 5.57174 13.4913 4.6815 12.8349 4.02513C12.1785 3.36875 11.2883 3 10.36 3Z" fill="black"/></svg>
								span 207
				.blog__item
					.blog__img
						img(src="_/uploads/blog-3.jpg" alt="")
					.blog__inner
						.blog__name Эндосфера
						.blog__text Уникальная инновационная методика коррекции фигуры, которая не имеет аналогов по своей эффективности и результативности.
						.blog__data.row
							.blog__date
								<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.5 0C9.48912 0 11.3968 0.790176 12.8033 2.1967C14.2098 3.60322 15 5.51088 15 7.5C15 9.48912 14.2098 11.3968 12.8033 12.8033C11.3968 14.2098 9.48912 15 7.5 15C5.51088 15 3.60322 14.2098 2.1967 12.8033C0.790176 11.3968 0 9.48912 0 7.5C0 5.51088 0.790176 3.60322 2.1967 2.1967C3.60322 0.790176 5.51088 0 7.5 0ZM7.5 0.789474C5.72026 0.789474 4.01341 1.49647 2.75494 2.75494C1.49647 4.01341 0.789474 5.72026 0.789474 7.5C0.789474 9.27974 1.49647 10.9866 2.75494 12.2451C4.01341 13.5035 5.72026 14.2105 7.5 14.2105C9.27974 14.2105 10.9866 13.5035 12.2451 12.2451C13.5035 10.9866 14.2105 9.27974 14.2105 7.5C14.2105 5.72026 13.5035 4.01341 12.2451 2.75494C10.9866 1.49647 9.27974 0.789474 7.5 0.789474ZM7.10526 3.15789H7.89474V7.43921L11.6021 9.57947L11.2074 10.2632L7.10526 7.89474V3.15789Z" fill="black"/></svg>
								span 16 Марта
							.blog__view
								<svg width="21" height="13" viewBox="0 0 21 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.36 12C14.349 12 17.818 9.776 19.595 6.5C18.6942 4.8361 17.3604 3.44658 15.7348 2.47842C14.1092 1.51026 12.2521 0.999442 10.36 1C8.46791 0.999442 6.61083 1.51026 4.9852 2.47842C3.35956 3.44658 2.02581 4.8361 1.125 6.5C2.02581 8.1639 3.35956 9.55342 4.9852 10.5216C6.61083 11.4897 8.46791 12.0006 10.36 12ZM10.36 6.42059e-07C12.5234 -0.000722144 14.6431 0.608816 16.4757 1.7586C18.3083 2.90838 19.7794 4.55177 20.72 6.5C19.7794 8.44823 18.3083 10.0916 16.4757 11.2414C14.6431 12.3912 12.5234 13.0007 10.36 13C8.19659 13.0007 6.07685 12.3912 4.24428 11.2414C2.4117 10.0916 0.940613 8.44823 0 6.5C0.940613 4.55177 2.4117 2.90838 4.24428 1.7586C6.07685 0.608816 8.19659 -0.000722144 10.36 6.42059e-07ZM10.36 2C11.5535 2 12.6981 2.47411 13.542 3.31802C14.3859 4.16193 14.86 5.30653 14.86 6.5C14.86 7.69347 14.3859 8.83807 13.542 9.68198C12.6981 10.5259 11.5535 11 10.36 11C9.16653 11 8.02193 10.5259 7.17802 9.68198C6.33411 8.83807 5.86 7.69347 5.86 6.5C5.86 5.30653 6.33411 4.16193 7.17802 3.31802C8.02193 2.47411 9.16653 2 10.36 2ZM10.36 3C9.43174 3 8.5415 3.36875 7.88513 4.02513C7.22875 4.6815 6.86 5.57174 6.86 6.5C6.86 7.42826 7.22875 8.3185 7.88513 8.97487C8.5415 9.63125 9.43174 10 10.36 10C11.2883 10 12.1785 9.63125 12.8349 8.97487C13.4913 8.3185 13.86 7.42826 13.86 6.5C13.86 5.57174 13.4913 4.6815 12.8349 4.02513C12.1785 3.36875 11.2883 3 10.36 3Z" fill="black"/></svg>
								span 207
				.blog__item
					.blog__img
						img(src="_/uploads/blog-4.jpg" alt="")
					.blog__inner
						.blog__name Карбоновый пилинг
						.blog__text Процедура, направленная на омоложение, очищение, подтяжку кожи.
						.blog__data.row
							.blog__date
								<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.5 0C9.48912 0 11.3968 0.790176 12.8033 2.1967C14.2098 3.60322 15 5.51088 15 7.5C15 9.48912 14.2098 11.3968 12.8033 12.8033C11.3968 14.2098 9.48912 15 7.5 15C5.51088 15 3.60322 14.2098 2.1967 12.8033C0.790176 11.3968 0 9.48912 0 7.5C0 5.51088 0.790176 3.60322 2.1967 2.1967C3.60322 0.790176 5.51088 0 7.5 0ZM7.5 0.789474C5.72026 0.789474 4.01341 1.49647 2.75494 2.75494C1.49647 4.01341 0.789474 5.72026 0.789474 7.5C0.789474 9.27974 1.49647 10.9866 2.75494 12.2451C4.01341 13.5035 5.72026 14.2105 7.5 14.2105C9.27974 14.2105 10.9866 13.5035 12.2451 12.2451C13.5035 10.9866 14.2105 9.27974 14.2105 7.5C14.2105 5.72026 13.5035 4.01341 12.2451 2.75494C10.9866 1.49647 9.27974 0.789474 7.5 0.789474ZM7.10526 3.15789H7.89474V7.43921L11.6021 9.57947L11.2074 10.2632L7.10526 7.89474V3.15789Z" fill="black"/></svg>
								span 16 Марта
							.blog__view
								<svg width="21" height="13" viewBox="0 0 21 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.36 12C14.349 12 17.818 9.776 19.595 6.5C18.6942 4.8361 17.3604 3.44658 15.7348 2.47842C14.1092 1.51026 12.2521 0.999442 10.36 1C8.46791 0.999442 6.61083 1.51026 4.9852 2.47842C3.35956 3.44658 2.02581 4.8361 1.125 6.5C2.02581 8.1639 3.35956 9.55342 4.9852 10.5216C6.61083 11.4897 8.46791 12.0006 10.36 12ZM10.36 6.42059e-07C12.5234 -0.000722144 14.6431 0.608816 16.4757 1.7586C18.3083 2.90838 19.7794 4.55177 20.72 6.5C19.7794 8.44823 18.3083 10.0916 16.4757 11.2414C14.6431 12.3912 12.5234 13.0007 10.36 13C8.19659 13.0007 6.07685 12.3912 4.24428 11.2414C2.4117 10.0916 0.940613 8.44823 0 6.5C0.940613 4.55177 2.4117 2.90838 4.24428 1.7586C6.07685 0.608816 8.19659 -0.000722144 10.36 6.42059e-07ZM10.36 2C11.5535 2 12.6981 2.47411 13.542 3.31802C14.3859 4.16193 14.86 5.30653 14.86 6.5C14.86 7.69347 14.3859 8.83807 13.542 9.68198C12.6981 10.5259 11.5535 11 10.36 11C9.16653 11 8.02193 10.5259 7.17802 9.68198C6.33411 8.83807 5.86 7.69347 5.86 6.5C5.86 5.30653 6.33411 4.16193 7.17802 3.31802C8.02193 2.47411 9.16653 2 10.36 2ZM10.36 3C9.43174 3 8.5415 3.36875 7.88513 4.02513C7.22875 4.6815 6.86 5.57174 6.86 6.5C6.86 7.42826 7.22875 8.3185 7.88513 8.97487C8.5415 9.63125 9.43174 10 10.36 10C11.2883 10 12.1785 9.63125 12.8349 8.97487C13.4913 8.3185 13.86 7.42826 13.86 6.5C13.86 5.57174 13.4913 4.6815 12.8349 4.02513C12.1785 3.36875 11.2883 3 10.36 3Z" fill="black"/></svg>
								span 207
				.blog__item
					.blog__img
						img(src="_/uploads/blog-1.jpg" alt="")
					.blog__inner
						.blog__name Микротоки
						.blog__text В этой статье мы поговорим об эффективной методике оздоровления и омоложения кожи лица – микротоковой терапии. Воздействие токами низкой частоты 600-1000 мкА оказывает положительный эффект на кожу. Читаем, какой эффект, показания и противопоказания к процедуре.
						.blog__data.row
							.blog__date
								<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.5 0C9.48912 0 11.3968 0.790176 12.8033 2.1967C14.2098 3.60322 15 5.51088 15 7.5C15 9.48912 14.2098 11.3968 12.8033 12.8033C11.3968 14.2098 9.48912 15 7.5 15C5.51088 15 3.60322 14.2098 2.1967 12.8033C0.790176 11.3968 0 9.48912 0 7.5C0 5.51088 0.790176 3.60322 2.1967 2.1967C3.60322 0.790176 5.51088 0 7.5 0ZM7.5 0.789474C5.72026 0.789474 4.01341 1.49647 2.75494 2.75494C1.49647 4.01341 0.789474 5.72026 0.789474 7.5C0.789474 9.27974 1.49647 10.9866 2.75494 12.2451C4.01341 13.5035 5.72026 14.2105 7.5 14.2105C9.27974 14.2105 10.9866 13.5035 12.2451 12.2451C13.5035 10.9866 14.2105 9.27974 14.2105 7.5C14.2105 5.72026 13.5035 4.01341 12.2451 2.75494C10.9866 1.49647 9.27974 0.789474 7.5 0.789474ZM7.10526 3.15789H7.89474V7.43921L11.6021 9.57947L11.2074 10.2632L7.10526 7.89474V3.15789Z" fill="black"/></svg>
								span 16 Марта
							.blog__view
								<svg width="21" height="13" viewBox="0 0 21 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.36 12C14.349 12 17.818 9.776 19.595 6.5C18.6942 4.8361 17.3604 3.44658 15.7348 2.47842C14.1092 1.51026 12.2521 0.999442 10.36 1C8.46791 0.999442 6.61083 1.51026 4.9852 2.47842C3.35956 3.44658 2.02581 4.8361 1.125 6.5C2.02581 8.1639 3.35956 9.55342 4.9852 10.5216C6.61083 11.4897 8.46791 12.0006 10.36 12ZM10.36 6.42059e-07C12.5234 -0.000722144 14.6431 0.608816 16.4757 1.7586C18.3083 2.90838 19.7794 4.55177 20.72 6.5C19.7794 8.44823 18.3083 10.0916 16.4757 11.2414C14.6431 12.3912 12.5234 13.0007 10.36 13C8.19659 13.0007 6.07685 12.3912 4.24428 11.2414C2.4117 10.0916 0.940613 8.44823 0 6.5C0.940613 4.55177 2.4117 2.90838 4.24428 1.7586C6.07685 0.608816 8.19659 -0.000722144 10.36 6.42059e-07ZM10.36 2C11.5535 2 12.6981 2.47411 13.542 3.31802C14.3859 4.16193 14.86 5.30653 14.86 6.5C14.86 7.69347 14.3859 8.83807 13.542 9.68198C12.6981 10.5259 11.5535 11 10.36 11C9.16653 11 8.02193 10.5259 7.17802 9.68198C6.33411 8.83807 5.86 7.69347 5.86 6.5C5.86 5.30653 6.33411 4.16193 7.17802 3.31802C8.02193 2.47411 9.16653 2 10.36 2ZM10.36 3C9.43174 3 8.5415 3.36875 7.88513 4.02513C7.22875 4.6815 6.86 5.57174 6.86 6.5C6.86 7.42826 7.22875 8.3185 7.88513 8.97487C8.5415 9.63125 9.43174 10 10.36 10C11.2883 10 12.1785 9.63125 12.8349 8.97487C13.4913 8.3185 13.86 7.42826 13.86 6.5C13.86 5.57174 13.4913 4.6815 12.8349 4.02513C12.1785 3.36875 11.2883 3 10.36 3Z" fill="black"/></svg>
								span 207
				.blog__item
					.blog__img
						img(src="_/uploads/blog-2.jpg" alt="")
					.blog__inner
						.blog__name Лазерное омоложение Deka Dot
						.blog__text Лазерное омоложение Deka DOT - инновационная технология фракционного лазерного омоложения. Это уникальная разработка итальянской компании DEKA – мирового лидера в производстве лазерного оборудования для эстетической медицины. На сегодняшний день это одна из лучших методик омоложения, признанная во всем мире.
						.blog__data.row
							.blog__date
								<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.5 0C9.48912 0 11.3968 0.790176 12.8033 2.1967C14.2098 3.60322 15 5.51088 15 7.5C15 9.48912 14.2098 11.3968 12.8033 12.8033C11.3968 14.2098 9.48912 15 7.5 15C5.51088 15 3.60322 14.2098 2.1967 12.8033C0.790176 11.3968 0 9.48912 0 7.5C0 5.51088 0.790176 3.60322 2.1967 2.1967C3.60322 0.790176 5.51088 0 7.5 0ZM7.5 0.789474C5.72026 0.789474 4.01341 1.49647 2.75494 2.75494C1.49647 4.01341 0.789474 5.72026 0.789474 7.5C0.789474 9.27974 1.49647 10.9866 2.75494 12.2451C4.01341 13.5035 5.72026 14.2105 7.5 14.2105C9.27974 14.2105 10.9866 13.5035 12.2451 12.2451C13.5035 10.9866 14.2105 9.27974 14.2105 7.5C14.2105 5.72026 13.5035 4.01341 12.2451 2.75494C10.9866 1.49647 9.27974 0.789474 7.5 0.789474ZM7.10526 3.15789H7.89474V7.43921L11.6021 9.57947L11.2074 10.2632L7.10526 7.89474V3.15789Z" fill="black"/></svg>
								span 16 Марта
							.blog__view
								<svg width="21" height="13" viewBox="0 0 21 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.36 12C14.349 12 17.818 9.776 19.595 6.5C18.6942 4.8361 17.3604 3.44658 15.7348 2.47842C14.1092 1.51026 12.2521 0.999442 10.36 1C8.46791 0.999442 6.61083 1.51026 4.9852 2.47842C3.35956 3.44658 2.02581 4.8361 1.125 6.5C2.02581 8.1639 3.35956 9.55342 4.9852 10.5216C6.61083 11.4897 8.46791 12.0006 10.36 12ZM10.36 6.42059e-07C12.5234 -0.000722144 14.6431 0.608816 16.4757 1.7586C18.3083 2.90838 19.7794 4.55177 20.72 6.5C19.7794 8.44823 18.3083 10.0916 16.4757 11.2414C14.6431 12.3912 12.5234 13.0007 10.36 13C8.19659 13.0007 6.07685 12.3912 4.24428 11.2414C2.4117 10.0916 0.940613 8.44823 0 6.5C0.940613 4.55177 2.4117 2.90838 4.24428 1.7586C6.07685 0.608816 8.19659 -0.000722144 10.36 6.42059e-07ZM10.36 2C11.5535 2 12.6981 2.47411 13.542 3.31802C14.3859 4.16193 14.86 5.30653 14.86 6.5C14.86 7.69347 14.3859 8.83807 13.542 9.68198C12.6981 10.5259 11.5535 11 10.36 11C9.16653 11 8.02193 10.5259 7.17802 9.68198C6.33411 8.83807 5.86 7.69347 5.86 6.5C5.86 5.30653 6.33411 4.16193 7.17802 3.31802C8.02193 2.47411 9.16653 2 10.36 2ZM10.36 3C9.43174 3 8.5415 3.36875 7.88513 4.02513C7.22875 4.6815 6.86 5.57174 6.86 6.5C6.86 7.42826 7.22875 8.3185 7.88513 8.97487C8.5415 9.63125 9.43174 10 10.36 10C11.2883 10 12.1785 9.63125 12.8349 8.97487C13.4913 8.3185 13.86 7.42826 13.86 6.5C13.86 5.57174 13.4913 4.6815 12.8349 4.02513C12.1785 3.36875 11.2883 3 10.36 3Z" fill="black"/></svg>
								span 207
				.blog__item
					.blog__img
						img(src="_/uploads/blog-3.jpg" alt="")
					.blog__inner
						.blog__name Эндосфера
						.blog__text Уникальная инновационная методика коррекции фигуры, которая не имеет аналогов по своей эффективности и результативности.
						.blog__data.row
							.blog__date
								<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.5 0C9.48912 0 11.3968 0.790176 12.8033 2.1967C14.2098 3.60322 15 5.51088 15 7.5C15 9.48912 14.2098 11.3968 12.8033 12.8033C11.3968 14.2098 9.48912 15 7.5 15C5.51088 15 3.60322 14.2098 2.1967 12.8033C0.790176 11.3968 0 9.48912 0 7.5C0 5.51088 0.790176 3.60322 2.1967 2.1967C3.60322 0.790176 5.51088 0 7.5 0ZM7.5 0.789474C5.72026 0.789474 4.01341 1.49647 2.75494 2.75494C1.49647 4.01341 0.789474 5.72026 0.789474 7.5C0.789474 9.27974 1.49647 10.9866 2.75494 12.2451C4.01341 13.5035 5.72026 14.2105 7.5 14.2105C9.27974 14.2105 10.9866 13.5035 12.2451 12.2451C13.5035 10.9866 14.2105 9.27974 14.2105 7.5C14.2105 5.72026 13.5035 4.01341 12.2451 2.75494C10.9866 1.49647 9.27974 0.789474 7.5 0.789474ZM7.10526 3.15789H7.89474V7.43921L11.6021 9.57947L11.2074 10.2632L7.10526 7.89474V3.15789Z" fill="black"/></svg>
								span 16 Марта
							.blog__view
								<svg width="21" height="13" viewBox="0 0 21 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.36 12C14.349 12 17.818 9.776 19.595 6.5C18.6942 4.8361 17.3604 3.44658 15.7348 2.47842C14.1092 1.51026 12.2521 0.999442 10.36 1C8.46791 0.999442 6.61083 1.51026 4.9852 2.47842C3.35956 3.44658 2.02581 4.8361 1.125 6.5C2.02581 8.1639 3.35956 9.55342 4.9852 10.5216C6.61083 11.4897 8.46791 12.0006 10.36 12ZM10.36 6.42059e-07C12.5234 -0.000722144 14.6431 0.608816 16.4757 1.7586C18.3083 2.90838 19.7794 4.55177 20.72 6.5C19.7794 8.44823 18.3083 10.0916 16.4757 11.2414C14.6431 12.3912 12.5234 13.0007 10.36 13C8.19659 13.0007 6.07685 12.3912 4.24428 11.2414C2.4117 10.0916 0.940613 8.44823 0 6.5C0.940613 4.55177 2.4117 2.90838 4.24428 1.7586C6.07685 0.608816 8.19659 -0.000722144 10.36 6.42059e-07ZM10.36 2C11.5535 2 12.6981 2.47411 13.542 3.31802C14.3859 4.16193 14.86 5.30653 14.86 6.5C14.86 7.69347 14.3859 8.83807 13.542 9.68198C12.6981 10.5259 11.5535 11 10.36 11C9.16653 11 8.02193 10.5259 7.17802 9.68198C6.33411 8.83807 5.86 7.69347 5.86 6.5C5.86 5.30653 6.33411 4.16193 7.17802 3.31802C8.02193 2.47411 9.16653 2 10.36 2ZM10.36 3C9.43174 3 8.5415 3.36875 7.88513 4.02513C7.22875 4.6815 6.86 5.57174 6.86 6.5C6.86 7.42826 7.22875 8.3185 7.88513 8.97487C8.5415 9.63125 9.43174 10 10.36 10C11.2883 10 12.1785 9.63125 12.8349 8.97487C13.4913 8.3185 13.86 7.42826 13.86 6.5C13.86 5.57174 13.4913 4.6815 12.8349 4.02513C12.1785 3.36875 11.2883 3 10.36 3Z" fill="black"/></svg>
								span 207
				.blog__item
					.blog__img
						img(src="_/uploads/blog-4.jpg" alt="")
					.blog__inner
						.blog__name Карбоновый пилинг
						.blog__text Процедура, направленная на омоложение, очищение, подтяжку кожи.
						.blog__data.row
							.blog__date
								<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.5 0C9.48912 0 11.3968 0.790176 12.8033 2.1967C14.2098 3.60322 15 5.51088 15 7.5C15 9.48912 14.2098 11.3968 12.8033 12.8033C11.3968 14.2098 9.48912 15 7.5 15C5.51088 15 3.60322 14.2098 2.1967 12.8033C0.790176 11.3968 0 9.48912 0 7.5C0 5.51088 0.790176 3.60322 2.1967 2.1967C3.60322 0.790176 5.51088 0 7.5 0ZM7.5 0.789474C5.72026 0.789474 4.01341 1.49647 2.75494 2.75494C1.49647 4.01341 0.789474 5.72026 0.789474 7.5C0.789474 9.27974 1.49647 10.9866 2.75494 12.2451C4.01341 13.5035 5.72026 14.2105 7.5 14.2105C9.27974 14.2105 10.9866 13.5035 12.2451 12.2451C13.5035 10.9866 14.2105 9.27974 14.2105 7.5C14.2105 5.72026 13.5035 4.01341 12.2451 2.75494C10.9866 1.49647 9.27974 0.789474 7.5 0.789474ZM7.10526 3.15789H7.89474V7.43921L11.6021 9.57947L11.2074 10.2632L7.10526 7.89474V3.15789Z" fill="black"/></svg>
								span 16 Марта
							.blog__view
								<svg width="21" height="13" viewBox="0 0 21 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.36 12C14.349 12 17.818 9.776 19.595 6.5C18.6942 4.8361 17.3604 3.44658 15.7348 2.47842C14.1092 1.51026 12.2521 0.999442 10.36 1C8.46791 0.999442 6.61083 1.51026 4.9852 2.47842C3.35956 3.44658 2.02581 4.8361 1.125 6.5C2.02581 8.1639 3.35956 9.55342 4.9852 10.5216C6.61083 11.4897 8.46791 12.0006 10.36 12ZM10.36 6.42059e-07C12.5234 -0.000722144 14.6431 0.608816 16.4757 1.7586C18.3083 2.90838 19.7794 4.55177 20.72 6.5C19.7794 8.44823 18.3083 10.0916 16.4757 11.2414C14.6431 12.3912 12.5234 13.0007 10.36 13C8.19659 13.0007 6.07685 12.3912 4.24428 11.2414C2.4117 10.0916 0.940613 8.44823 0 6.5C0.940613 4.55177 2.4117 2.90838 4.24428 1.7586C6.07685 0.608816 8.19659 -0.000722144 10.36 6.42059e-07ZM10.36 2C11.5535 2 12.6981 2.47411 13.542 3.31802C14.3859 4.16193 14.86 5.30653 14.86 6.5C14.86 7.69347 14.3859 8.83807 13.542 9.68198C12.6981 10.5259 11.5535 11 10.36 11C9.16653 11 8.02193 10.5259 7.17802 9.68198C6.33411 8.83807 5.86 7.69347 5.86 6.5C5.86 5.30653 6.33411 4.16193 7.17802 3.31802C8.02193 2.47411 9.16653 2 10.36 2ZM10.36 3C9.43174 3 8.5415 3.36875 7.88513 4.02513C7.22875 4.6815 6.86 5.57174 6.86 6.5C6.86 7.42826 7.22875 8.3185 7.88513 8.97487C8.5415 9.63125 9.43174 10 10.36 10C11.2883 10 12.1785 9.63125 12.8349 8.97487C13.4913 8.3185 13.86 7.42826 13.86 6.5C13.86 5.57174 13.4913 4.6815 12.8349 4.02513C12.1785 3.36875 11.2883 3 10.36 3Z" fill="black"/></svg>
								span 207
				