.h1 {
  font-size: 40px;
  line-height: 47px;
  font-weight: 700;
}

.h2 {
  font-size: 36px;
  line-height: 32px;
  font-weight: 500;
}

.h3 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
}