extends ../../templates/default
block vars
	-
		title = "Лазерная эпиляция верхней губы"
		breadcrumbs = [
			['Главная', 'index.html'],
			['Услуги и цены', 'index.html'],
			['Эпиляция', 'index.html'],
			['Лазерная эпиляция', 'index.html'],
			[title]
		]
block content
	.page-head
		.case
			.page-head__wrap
				+breadcrumbs
				.page-head__title.h1 Услуги и цены
				.page-head__logo.--mt
					img(src="_/uploads/logo-black.png " alt="")
	
	.service
		.case
			.service__title.h3 Лазерная эпиляция верхней губы
			.service__wrap.tabs
				.service__nav.t-nav.tabs-links
					a.t-nav__item.tabs-link(href="#address-1" data-name="КОСЫГИНА" data-href="https://widget.universe-soft.ru/v2/minisite/15a6501c14b00530f6951ed082b52109") SUN & CITY — КОСЫГИНА
					a.t-nav__item.tabs-link(href="#address-2" data-name="ПРЕСНЕНСКИЙ ВАЛ" data-href="https://widget.universe-soft.ru/v2/minisite/9e04e5a904f4b25c4d45e77676ba6924") SUN & CITY — ПРЕСНЕНСКИЙ ВАЛ
					a.t-nav__item.tabs-link(href="#address-3" data-name="ФРУНЗЕНСКАЯ" data-href="https://widget.universe-soft.ru/v2/minisite/4f73feff38d35b75412995bf6ac70045") SUN & CITY — ФРУНЗЕНСКАЯ
					a.t-nav__item.tabs-link(href="#address-4" data-name="ТРЦ АФИМОЛЛ СИТИ" data-href="https://widget.universe-soft.ru/v2/minisite/51c227e11826e9c51abb618f29c0f184") SUN & CITY — ТРЦ АФИМОЛЛ СИТИ
				.service__inner
					.service__tabs
						mixin tab(id)
							.service__tab.tabs-item(id=id)
								.service__img
									img(src="_/uploads/laser.jpg" alt="")
								.service__content
									.service__price.p
										.p__head
											table
												tbody
													tr
														td Услуга
														td Стоимость
										.p__body
											p Лазерная эпиляция
											table
												tbody
													tr
														td Верхняя губа
														td 1500 руб
									.service__text.t1
										p Многие женщины мечтают избавиться от нежелательной растительности в области верхней губы. На сегодняшний день лазерная эпиляция является одним из самых  эффективных методов. Волосяной покров удаляется с помощью лазерного излучения, которое воздействует на волосяной фолликул, разрушая его.
										h2 Преимущества и польза лазерной эпиляции верхней губы
										p Лазерная эпиляция в зоне усиков имеет явные преимущества, к которым можно отнести высокую эффективность после прохождения полного курса, безболезненность. После процедуры на коже не остаются следы, и не появляется раздражение. При профессиональном подходе, от нежелательных волосиков можно избавиться на долгое время или навсегда.
										h2 Рекомендации к процедуре
										p Несмотря на то, что лазерная эпиляция в зоне верхней губы может проводиться в любое время года, некоторых рекомендаций следует придерживаться:
										ul
											li за несколько дней до процедуры необходимо отказаться от посещения солярия и не попадать под открытые солнечные лучи;
											li за неделю рекомендуется отказаться от использования скрабов, пилингов и мочалок для лица, чтобы не травмировать эпителий;
											li накануне посещения необходимо сбрить волосы на нужном участке кожи. Чем меньше длина волоса, тем эффективнее пройдет разрушение волосяной луковицы.
										h2 Почему стоит воспользоваться данной процедурой в салоне красоты SUN&CITY
										p Салон красоты SUN&CITY в Москве предлагает лазерную эпиляцию на инновационном аппарате Innovate 1S PRO. Процедура подходит для любого типа кожи. Технология IPLASER самая эффективная и быстрая среди существующих сегодня. Аппарат производит сразу 3 импульса за 1 секунду, что значительно увеличивает эффективность. Во время процедуры между импульсами кожа охлаждается, поэтому неприятные ощущения отсутствуют.
										p Наши косметологи помогут вам избавиться от усиков быстро и безболезненно.  в течение двух недель, не использовать косметику, при выходе на улицу пользоваться.

								
						+tab('address-1')
						+tab('address-2')
						+tab('address-3')
						+tab('address-4')
	include ../../parts/order
	
	include ../../parts/map